// PURPOSE: Control layout and shifting between widths
main .section-title {
	margin: {
		top: 80px;
		bottom: 80px;	
	}
	text-align: center;
	font-size: 40px;
	color: $dark-grey;
}
.library {
	.library-item {
		max-width: 700px;
		margin: 0 auto;
		p, h1, h2 {
			margin: {
				left: auto;
				right: auto;
			}
			max-width: 100%;
		}
		.library-item-author {
			font-size: 16px;
			font-family: $sans-serif;
			font-weight: 600;
			margin-top: 10px;
			color: $tjp-red;
		}
		.library-item-text {
			margin-top: 15px;
			font-size: 20px;
			line-height: 30px;
		}
		.library-more-link {
			font-family: $sans-serif;
			font-weight: 600;
			text-decoration: none;
			color: $tjp-blue;
		}
		.heading-link {
			h1 {
				display: inline-block;
				transition: color 0.3s;
			}
			text-decoration: none;
			&:hover {
				h1 {
					color: $tjp-blue;
				}
				i {
					transform: translateX(0);
					opacity: 1;
				}
			}
			i {
				display: none;
				@media #{$smed-mq} {
					display: inline-block;
				}
				color: rgba($tjp-blue, 0.5);
				font-size: 2em;
				vertical-align: sub;
				transform: translateX(-10px);
				opacity: 0;
				transition: opacity 0.3s, transform 0.4s;
			}
		}
	}
}
.writing {
	.content-page-title {
		text-transform: uppercase;
	}
	.writing-featured-image {
		position: absolute;
		width: 100%;
		img {
			width: 100%;
			@media #{$med-mq} {
				margin-top: -23%;
			}
			opacity: 0.7;
		}
	}
	.writing-intro-content-wrapper {
		@include clearfix();
		position: relative;
		overflow: hidden;
	}
	.writing-intro-content {
		padding: 45px 10px;
		@media #{$smed-mq} {
			padding: 100px;
		}
		text-align: center;
		position: relative;
		z-index: 10000;
		p, h1 { color: #fff; }
		.content-page-subtitle {
			font-size: 30px;
			margin-top: 0;
		}
	}
	.writing-intro {
		position: relative;
		.color-overlay {
			.writing-intro-content {
				background: rgba(#000, 0.3);
			}
		}
	}
}
.writing-previews {
	padding-bottom: 100px;
	h3 {
		color: #4a4a4a;
		padding: {
			top: 120px;
			bottom: 80px;
		}
		font-size: 36px;
		text-align: center;
	}
	.writing-preview {
		h1 {}
		.writing-preview-tags {
			font-family: $sans-serif;
			font-size: 16px;
			font-weight: 600;
			color: $tjp-red;
			.label {
				font-style: italic;
			}
			.tags {
				text-transform: uppercase;
			}
		}
		.writing-preview-text {
			font-size: 20px;
			max-width: 800px;
		}
		margin-bottom: 60px;

	}
}

.content-page {
	main {
		padding-top: 40px;
		padding-bottom: 60px;
		border-top: 15px solid $tjp-blue-grey;
		background-color: $tjp-white-blue;
		p, h1, h2, .library-item-author {
			margin: {
				left: auto;
				right: auto;
			}
			max-width: 700px;
			padding: {
				right: 20px;
				left: 20px;
			}
			@media #{$smed-mq} {
				padding: {
					right:0;
					left: 0;
				}
			}
		}
		blockquote {
		  border-left: 5px solid rgba($tjp-red, 0.3);
		  // margin: 1.5em 10px;
		  padding: 0.5em 20px;
		  display: block;
		  max-width: 700px;
		  margin: 0 auto;
		  @media #{$med-mq-max} {
		  	margin: 0 20px; //ensures blockquote border doesnt touch the sides of the display
		  }
		}
		blockquote p {
			display: inline-block;
		}
		h1, h2 {
			margin-top: 35px;
			margin-bottom: 0px;
		}
		h2 {
			font-size: 26px;
			@media #{$smed-mq} {
				font-size: 30px;
			}
		}
		p {
			margin-top: 25px;
			margin-bottom: 25px;
			font-size: 20px;
			// line-height: 24px;
			line-height: 1.55556;
			@media #{$sml-mq} {
				font-size: 21px;
				// line-height: 27px;
			}
			@media #{$lrg-mq} {
				font-size: 22px;
			}
		}
		h2 + p {
			margin-top: 13px;
		}
	}
	.content-page-title {
		font-size: 48px;
		@media #{$smed-mq} {
			font-size: 60px;
		}
		@media #{$med-mq} {
			font-size: 72px;
		}
	}
	.content-page-intro {
		font-size: 20px;
		line-height: 27px;
		@media #{$sml-mq} {
			font-size: 22px;
			line-height: 29px;
		}
		@media #{$smed-mq} {
			font-size: 24px;
			line-height: 34px;
		}
		font-weight: 300;
		color: #999;
	}
	p.download-btn {
		text-align: center;
	}
}

.about-intro {
	position: relative;
	background-color: $light-grey;
	.about-intro-image {
		@media #{$med-mq} {
			width: 90%;
			margin-left: -10%;
			min-height: 500px;
		}
		img { display: block; }
	}
	.about-intro-content-wrapper{
		@media #{$med-mq} {
			position: absolute;
			right: 0;
			top: 0;
			width: 50%;
			height: 100%;
			h1.content-page-title {
				font-size: 44px;
			}
		}
		@media #{$med-mq} {
			h1.content-page-title {
				font-size: 72px;
			}
		}
		background-color: #fff;
		.about-intro-content-inner {
			display: table;
			padding: 50px;
			height: 100%;
			box-sizing: border-box;
			.about-intro-content-text {
				text-align: center;
				display: table-cell;
				vertical-align: middle;
				p { margin-top: 0; }
				.divider {
					&:first-child {
						margin-bottom: 13px;
					}
					&:last-child {
						margin-top: 13px;
					}
					display: inline-block;
					text-align: center;
					width: 40%;
					height: 1px;
					background-color: rgba($tjp-blue, .25);

				}
			}
		}

	}
}

.project-detail-intro {
	padding: {
		top: 120px;
		bottom: 80px;
	}
	background-color: #fff;
	@include clearfix();	
	text-align: center;
	p {
		margin: 0 auto;
		max-width: 840px;
	}
	.project-detail-intro-image {
		margin-top: 50px;
		&.project-detail-intro-image--smaller-width {
			@media #{$lrg-mq} {
				margin: {
					right: auto;
					left: auto;
					} 
				width: 80%;
			}
		}
	}
}

.project-detail-content {
	[class^=project-detail-image] {
		padding: 0 20px;
	}
	.image-wrapper.stroked img, .image-wrapper.stroked video {
		border: 1px solid darken($tjp-white-blue, 8%);
		box-sizing: border-box;
	}
	.project-detail-image-two-across {
		margin: 55px auto;
		max-width: 1280px;
		.image-wrapper {
			width: 100%;
			@include clearfix();
			margin-top: 20px;
			img {
				width: 70%;
				float: left;
			}
			@media #{$smed-mq} {
				float: left;
				img {
					width: 100%;
					float: none;
				}
				width: 49%;
				margin-left: 1%;
				&:first-child {
					margin-left: 0;
					margin-right: 1%;
				}
			}
		}
		.caption {
			width: 29%;
			@include caption-top-border();
			@media #{$smed-mq} {
				width: 100%;
				margin-top: 6px;
				padding-top: 0;
				border-top: none;
				float: none;
			}
		}
		@include clearfix();
	}
	.project-detail-image-one-across {
		margin: 55px auto;
		max-width: 700px;
		.gfy-wrapper {
			@include clearfix();
		}
		.gif-wrapper {
			img, video {
				width: 100%;
			}
		}
	}
	.project-detail-image-one-across-with-caption {
		max-width: 1280px;
		margin: 55px auto;
		video {
			width: 100%;
		}
		.image-wrapper {
			@media #{$smed-mq} {
				width: 77%;
				float: left;
			}
		}
		.caption {
			@media #{$smed-mq} {
				@include caption-top-border();
				width: 21%;
			}
		}
		@include clearfix();
		&.project-detail-image-one-across-with-caption--small-width {
			max-width: 700px;

			.image-wrapper {
				margin: 0 auto;
				width: 70%;
				@media #{$sml-mq} {
						width: 48%;
				}
			}
			.caption {
				@media #{$smed-mq} {
					@include caption-top-border();
					width: 48%;
				}
			}
		}
	}
	.project-detail-image-one-across-wide {
		max-width: 1280px;
		margin: 55px auto;
		.image-wrapper {
			@media #{$smed-mq} {
				width: 100%;
			}
		}
		.caption {
			@media #{$smed-mq} {
				width: 100%;
			}
		}
		@include clearfix();
	}
	.caption {
		margin-top: 6px;
		font-family: $sans-serif;
		font-size: 12px;
		font-weight: 300;
		@media #{$sml-mq} {
			font-size: 16px;
			font-weight: 400;
		}
		color: #bbb;
	}
}
