// PURPOSE: Styles work preview section

.work {
	@media #{$med-mq-max} {
		padding-top: 40px;
	}
	@media #{$med-mq} {
		border-top: 5px solid $tjp-blue-grey;
	}
	background-color: $tjp-white-blue;
}
.writing-previews {
	background-color: $tjp-white-blue;
}