extend _layout

block content
	.project-detail.content-page
		section.project-detail-intro
			.internal
				h1.content-page-title.project-detail-title Are you Lost?
				p.content-page-intro You've encountered a 404 error, meaning you're lost. While we're on the subject, I'd like to share a few thoughts on the show.
				.project-detail-intro-image.project-detail-intro-image--smaller-width
					img(src="https://flavorwire.files.wordpress.com/2014/09/lost_tv_show-1920x1200.jpg")
		main.project-detail-content
			p Lost was my first real exposure to the one-hour drama, it was also the first TV show to break my heart. More to come...