footer
	.internal
		.two-across-drop-to-one
			section.about.one-across
				h1.footer-section-title About Me
				p.about-text I’m Trevor Phillippi, a product designer from Philadelphia studying graphic design at Rensselaer. I am passionate about using design to solve meaningful problems. I learned to build products with the great team at Weblinc, and I currently work as a designer at Troy Web. When not designing or programming, I can be found enjoying a cup of coffee or playing basketball.
			section.more.one-across
				h1.footer-section-title More
				nav.navigation.navigation--vertical-list
					ul
						li
							a(href="http://twitter.com/trevorphillippi") Twitter
						li
							a(href="mailto:trevorjphillippi@gmail.com") Email
						li
							a(href="") Instagram
						li
							a(href="/downloads/Trevor-Phillippi-Resume-2014.pdf") Resume
					ul
						li
							a(href="/#work") My Work
						li
							a(href="http://gutenberg.io") Gutenberg
						li.inactive
							a(href="#") Dlixd
						li.inactive
							a(href="#") Ratios
	.copyright
		.copyright-text
			| &copy; 2015 Trevor J. Phillippi. Handmade with my hands tied behind my back rolling down a hill.
