doctype html
html(class="no-js option-3")
	head
		title 
			block title
				=title
			|  || Trevor Phillippi
		block meta_tags
			
		meta(name="viewport", content="initial-scale=1")
		<link rel="shortcut icon" href="/favicon.ico?v=2" />
		<!-- build:css(.tmp) /css/app.css -->
		<link rel="stylesheet" href="/css/app.css">
		//- <link rel="stylesheet" href="/css/animate.css">
		<!-- endbuild -->
		include _includes/typekit.html
		//- script(src="/bower_components/modernizr/modernizr.js")
		script(src="http://localhost:35729/livereload.js")
		block header_scripts
	body
		include _includes/_menu.jade
		block content
		include _footer

		<!-- build:js({__rendered/public, .}) /js/lib.js -->
		script(src="/bower_components/jquery/dist/jquery.min.js")
		script(src="/bower_components/WOW/dist/wow.min.js")
		<!-- endbuild -->

		<!-- build:js({.tmp, .}) /js/build.js -->
		script(src="/js/main.js")
		<!-- endbuild -->
		include _includes/ga.html
		block footer_scripts
			include _includes/gfy.html