extend _layout
block title
	| About
block content
	.content-page
		section.about-intro
			.about-intro-image
				//- img(src="http://placehold.it/2000x1333")
				img(src="/images/trev-unoptimized.jpg")
			.about-intro-content-wrapper
				.about-intro-content-inner
					.about-intro-content-text
						.divider.top-divider
						h1.content-page-title About Trevor
						p.content-page-intro I’m a digital product designer with strong technical skills. I design and implement solutions to solve human problems with technology. I believe that code is craft and learning the tools of building products opens one’s eyes to what ought to be made.
						.divider.bottom-divider
		main
			p My name is Trevor Phillippi, I’m a product designer from Philadelphia studying graphic and interaction design at Rensselaer Polytechnic Institute in Troy, NY. I have a strong technical background and I’m constantly learning new tools and technologies to maintain the ability to not just design products but build them. I currently work part-time at Troy Web consulting, a client services company near RPI, doing design work in addition to development.

			h2 Background

			p I’ve always liked making things. One of the first Christmas gifts I can recall was when my father got me a toolset, and of course I immediately felt qualified to assemble anything in sight and fix all problems around the house. I started making things on the computer in middle school, originally shooting and editing videos, and then making horrible graphics in Adobe software. These skills wound up being useful as I worked at my father’s architectural firm during the summers, putting together video, laying out print documents, and working on their website. I did freelance web design and development all through high school, and while the work I produced was probably terrible, I developed my most important skill which is my ability to learn technical skill on my own and figure things out.

			p I initially thought I was going to go to art school to study animation. At the architectural firm I worked at, I learned to do 3D modeling and animation to construct their buildings from floor plans, and really enjoyed animating and lighting scenes. I wanted to work doing motion design or visual effects for film. When I visited RPI, I realized I could study web science or computer science and continue to program and make websites while doing animation and film. I got accepted early decision, and by the time I actually got to school, I’d fallen in love with design, and knew I was going to make stuff on the web for my job. RPI has been great because it’s given me an opportunity to study design and take computer science classes, so I can not just know <em>how</em> things are made, but actually gain the agency to make them myself, which is incredibly empowering and changes the lens through which I see problems. I’m happy that I did so much tinkering with animation in high school with After Effects and Cinema 4D, especially since it made learning CSS3 animations and more recently CoreAnimation, POP, and Framer much easier.

			h2 Weblinc

			p After my freshman year of college, I started feeling paralyzed by the fear that I was doing things wrong. Up until that point, everything I’d learned had been on my own by fiddling and reading, and I was terrified that I’d been doing it incorrectly or ignoring all sorts of best practices, especially in terms of front-end development and accessibility. I emailed some companies in the Philly area with my portfolio, and chose Weblinc, because of the scale of their projects, their culture and the product team was impressive. That summer, I worked on the team doing front-end development for our eCommerce sites, specifically doing a lot of responsive design. This was in 2012, where responsive design was just starting to be adopted by larger organizations and sites, and we were at the forefront of that. I’d done responsive web sites on my own, but working on huge web applications is totally different. Weblinc manages Urban Outfitters companies’ sites in addition to other large ones, and working there taught me more, faster than any other experience to date. Having code reviews with experts in their field, and discussing the merits of an interaction design decision crowded around a team member’s desk gave me a taste of what it’s like working with a great team of people passionate about their craft.

			p It was at Weblinc that I also realized I’m too opinionated to just do front-end development forever. I became an expert front-end developer, but I could not do that for the rest of my life. What I really enjoyed most were when there were things that were undecided on a project and I got to decide how it was going to work. I started to see coding as a means to an end; the end being actualizing my designs on my own.

			h2 Troy Web

			p Through a series of fortunate events, the president of Troy Web Consulting, a software development consulting firm near my school, wound up reviewing my portfolio and hiring me onto the team. Since then, I’ve done everything at Troy Web from logos and visual design to JavaScript engineering to UX research, and on a bad day, writing ColdFusion. Working at Troy Web has taught me a lot. I’ve had the opportunity to work on a wide variety of projects and products, and develop a number of technical and conceptual skills all while being paid well, in addition to developing valuable soft skills and seeing the software development lifecycle every day as I watched our engineers work.

			p As a designer working at a company traditionally thought of as a engineering firm, I worked through the challenges of presenting my work to clients. The capital district of New York State, where most of our clients are, can be a design-starved region in many respects. Government and local businesses often lag behind other regions like Philadelphia where I’m from, which makes it challenging to communicate the value of design. It can be frustrating and tempting to tell people you won’t work with them if they don’t listen to you, but no one wins that way, and I’ve learned that if you present your work in person and explain the thought process and value, then people will listen.

			p Working at Troy Web has allowed me to engage with the small but growing design community that does exist in the area. I’ve had the opportunity to speak at local user group meetings and present on design and how it relates to building digital products, and I co-organize the Albany User Experience Meetup.

			h2 Design Philosophy

			p I want to write more about design in general, but I don’t think I can say I have a cohesive philosophy; it’s still being formed as I work, think, read, and write. All I can say for certain is what motivates me and what I’m beginning to become more sure of as time goes by. I like to think I’m a thoughtful person, but I try to not take myself too seriously.

			p Meaningful and challenging problems compel me. I could expound on what “meaningful” even is at length, but right now to me it simply means problems that affect people in a way that has the ability to actually improve quality of life. A lot of problems, even small in scope, can improve someone’s day or allow them to do something better or easier. I also admire people who see past the distractions of the present, like making a new way to do a checklist app, and see the big challenges of the future as more of the world develops and becomes even more connected.

			p I believe strongly in designers being familiar with the craft of their work. I believe code is craft for product designers like me, and having the right tools in your tool belt makes you more attentive to the things in your environment that can be addressed with those tools. That said, we need work that challenges this approach, and I do appreciate the work of people unfamiliar with implementing their designs, as it can produce new ideas by ignoring patterns and practices very ingrained in my way of thinking.

			p I applaud efforts that are opinionated in nature, even if they are not for me or I disagree with the premise. By trying to be average to everyone you are often terrible to most and great to none. All of the designers I admire are opinionated in their work. This doesn’t mean you should be a jerk, but I think a culture of mass appeal doesn’t produce truly great things.

			h2 Beyond Design &amp; Technology

			p In addition to design and technology, I love coffee, watching documentaries, playing basketball, and Philadelphia sports. I played basketball for RPI my freshman year, and it’s still the first thing I go to do in order to relax and de-stress. <a href="http://twitter.com/trevorphillippi">My twitter account</a> is God’s gift to the internet, and I’m really responsive there.
		