extend _layout
block title
	| About
block content
	.content-page
		main
			p My name is Trevor Phillippi, I’m a product designer from Philadelphia studying graphic and interaction design at Rensselaer Polytechnic Institute in Troy, NY. I have a strong technical background and I’m constantly learning new tools and technologies to maintain the ability to not just design products but build them. I currently work part-time at Troy Web consulting, a client services company near RPI, doing design work in addition to development.

			h2 Background

			p I’ve always liked making things. One of the first Christmas gifts I can recall was when my father got me a toolset, and of course I immediately felt qualified to assemble anything in sight and fix all problems around the house. I started making things on the computer in middle school, originally shooting and editing videos, and then making horrible graphics in Adobe software. These skills wound up being useful as I worked at my father’s architectural firm during the summers, putting together video, laying out print documents, and working on their website. I did freelance web design and development all through high school, and while the work I produced was probably terrible, I developed my most important skill which is my ability to learn technical skill on my own and figure things out.