extend _layout
block meta_tags
	meta(name="title", content=title)
	meta(name="description", content="Trevor Phillippi is a product designer from Philadelphia, studying at Rensselaer, passionate about using design to solve meaningful human problems, and learning the technology necessary to implement it.")
	
	meta(property="og:title", content="Trevor Phillippi, Designer")
	meta(property="og:type", content="website")
	meta(property="og:site_name", content="Trevor Phillippi, Product Designer")
	meta(property="og:description", content="Trevor Phillippi is a product designer from Philadelphia, studying at Rensselaer, passionate about using design to solve meaningful human problems, and learning the technology necessary to implement it.")
	meta(property="og:image", content="https://s3-us-west-2.amazonaws.com/new-portfolio/images/site-photo-2.jpg")
	meta(property="article:author", content="tjphilli")
block content
	section
		.internal.internal--medium-only
			h1 Node Starter
			p Some content here
block footer_scripts
