extend _layout
block content
	.writing.content-page.library
		section.writing-intro
				.writing-intro-content-wrapper.color-overlay
					.writing-featured-image
						img(src="/images/the-library-bg.jpg")
					.writing-intro-content
						h1.content-page-title The Library
						p.content-page-subtitle Writings and resources that have shaped me, that I would recommend to a friend.
		main.writing-content
			h3.section-title Books
			.library-item
				a(href="http://www.amazon.com/Design-Real-World-Ecology-Social/dp/0897331532", target="_blank").heading-link
					h1 Design for the Real World
					i.icon-arrow-right
				.library-item-author Victor Papanek
				p.library-item-text This book challenges designers to see past the superficial demands of today's industry and make meaningful things. This book has shaped the way I see design, made me more socially conscious, and given me a framework for social criticism.
			.library-item
				a(href="http://www.amazon.com/Notes-Synthesis-Form-Harvard-Paperbacks/dp/0674627512/", target="_blank").heading-link
					h1 Notes on the Synthesis of Form
					i.icon-arrow-right
				.library-item-author Christopher Alexander
				p.library-item-text A book on very high level design strategies, and the relationship between design problem and devised solution.
			.library-item
				a(href="http://www.amazon.com/Cracking-Whip-Essays-Design-Effects/dp/1563673908", target="_blank").heading-link
					h1 Cracking the Whip
					i.icon-arrow-right
				.library-item-author Ralph Caplan
				p.library-item-text A collection of essays written by Caplan with a unique blend of wit and insight. I love cherry picking this book for whatever I'm in the mood to read about.
			.library-item
				a(href="http://www.amazon.com/By-Design-2nd-Bathroom-Lessons/dp/1563673495", target="_blank").heading-link
					h1 By Design
					i.icon-arrow-right
				.library-item-author Ralph Caplan
				p.library-item-text Another great by Caplan, this book examines the potential of design to solve problems, and tells interesting stories of design along the way.
			.library-item
				//- a(href="#").library-more-link See 3 More Books
			h3.section-title Podcasts
			.library-item
				a(href="http://designobserver.com/topic/designmatters/1039", target="_blank").heading-link
					h1 Design Matters with Debbie Millman
					i.icon-arrow-right
				.library-item-author Debbie Millman &amp; Guests
				p.library-item-text An incredibly skilled interviewer, Millman talks with mostly traditional designers for about 40 minutes each episode. The quality of the guests and their conversation is incredibly high.
			.library-item
				a(href="http://5by5.tv/onthegrid", target="_blank").heading-link
					h1 On The Grid
					i.icon-arrow-right
				.library-item-author Matt McInnerny, Andy Mangold &amp; Dan Auer
				p.library-item-text I love this show because these guys have some of the most reasonable and thorough discourse of any pocast. They do mostly web and mobile work so it's oftentimes more relevant to me than Design Matters.
			.library-item
				a(href="http://atp.fm/", target="_blank").heading-link
					h1 Accidental Tech Podcast
					i.icon-arrow-right
				.library-item-author John Siracusa, Casey Liss &amp; Marco Arment
				p.library-item-text My favorite tech podcast around, for a few hours each week Casey, John, and Marco talk about tech news and things that bother them. John Siracusa is one of a kind.
			.library-item
				a(href="http://99percentinvisible.org/", target="_blank").heading-link
					h1 99 Percent Invisible
					i.icon-arrow-right
				.library-item-author Roman Mars
				p.library-item-text Most people have heard of 99pi before, but it's still worth recommending. It's easy to listen to a dozen of these in a row.
			.library-item
				//- a(href="#").library-more-link	See 4 More Books
			
			
	include _footer
		