.logo-menu
	a.navigation--full-screen-trigger.logo-menu-menu
		.hamburger
			.top-bun.hamburger-piece
				.left.half
				.right.half
			.meat.hamburger-piece
				.whole
			.bottom-bun.hamburger-piece
				.left.half
				.right.half
	.logo-menu-logo
			a(href="/") 
				<svg version="1.1" class="icon-house" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><path d="M10 20v-6h4v6h5v-8h3l-10-9-10 9h3v8z" fill="#444444"></path></svg>
				span T


nav.navigation.navigation--primary.navigation--full-screen
	ul
		li
			a(href="/") Home
		li.work-link
			a(href="/#work") Work
		li
			a(href="/about/") About
		li.writings-link
			a(href="/#writings") Writings
		li
			a(href="/the-library/") The Library